.socal-icons {
  width: 25px;
  height: 25px;
}
.display-name {
  font-size: 25px;
  border-style: dotted dashed solid double;
}
.contact-page {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 12px;
}
body {
  background-color: turquoise;
  padding: 0;
  margin: 0;
}
section {
  margin: 10px;
  padding: 0;
  background-color: white;
}
header {
  display: flex;
  justify-content: space-between;
  color: forestgreen;
  background-color: azure;
  padding: 0;
}
nav a {
  color: forestgreen;
  font-size: 19px;
}
.underline {
  border-bottom: 1px solid forestgreen;
}
.h1 {
  padding: 0;
  margin: 0;
}
.h3 {
  font-size: 50px;
  width: 50;
}
.name {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
img {
  width: 260px;
  height: 180px;
}
h1 {
  font-size: 23px;
}

@media (min-width: 750px) {
  body {
    background-color: rgb(224, 64, 64);
  }
  nav a {
    font-size: 30px;
  }
  .name {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
}
